[Desktop Entry]
Name=Transmission
Comment=Control the Transmission daemon
Type=Application
Exec=cosmic-transmission
Icon=cosmic-transmission
Terminal=false
NoDisplay=true
Categories=COSMIC;
X-CosmicApplet=true
