[D-BUS Service]
Name=io.github.cosmic.Transmission.Helper
Exec=/usr/bin/cosmic-transmission-helper
User=root
SystemdService=cosmic-transmission-helper.service
